# Server Configuration
NODE_ENV="development"
PORT="8080"
MAX_LIMIT="50"

# Blockchain Configuration
CHAIN_ID="11155111"
RPC_URL="https://eth-goerli.g.alchemy.com/v2/YOUR_API_KEY"

# Database Configuration
DB_NAME="authentications"
MONGODB_URI="mongodb://127.0.0.1:27017"
REDIS_URI="redis://127.0.0.1:6379"

# Security
JWT_SECRET="your-super-secure-jwt-secret"

# Testing (for development only)
TEST_WALLET="0x..."
TEST_WALLET_KEY="0x..."